@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  font-family: 'Tajawal', sans-serif; 
  direction: rtl;
  text-align: right;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
}

body {
  direction: rtl; 
  text-align: right;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
}

